* {
  padding: 0;
  margin: 0;
}
/* .product-grid {
  display: grid;
  grid-template-columns: repeat(1, 30rem);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 0.5rem;
} */
.primary-button {
  width: 95%;
}
.container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "navbar navbar navbar"
    "side-bar side-bar cardexit"
    "side-bar side-bar cardexit"
    "side-bar side-bar cardexit";
}

.navbar {
  grid-area: navbar;
  width: 100%;
}
.side-bar {
  grid-area: side-bar;
  height: 100vh;
}
.product-grid {
  grid-area: cardexit;
}
